
	<div class="jumbotron img-responsive text-center">
	  <h1>Slim's Chance Foundation</h1>
	  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <div>
	  	<%= image_tag 'logo.png', :class => "brand" %>
	  </div>

	  <br>
	  
		<div>
	  	<p><a class="btn btn-primary btn-lg">Learn more</a></p>
	  </div>
	</div>	
