<section id="what-one" data-speed="9" data-type="background" class="align-center-slim">
	<div class="container">
	  <div class="row-fluid">

	    <div class="col-md-12 hero-unit">
	    	<div class="row text-center">
	      	<h2>How We Help</h2>
	      	<hr>
	      </div>
	      <!-- <div class="row">
	        <div class="col-md-6 float-left media">
	          <a class="pull-left" href="#">
	            <%= image_tag "check.png", :class => "media object img-responsive" %>
	          </a>
	          <div class="media-body">
	              <h4 class="media-heading">Mentoring</h4>
	              How do you do it?
	          </div>
	        </div>
	      </div>
	      <br>
	      <div class="row">
	        <div class="col-md-6 media">
	          <a class="pull-left" href="#">
	            <%= image_tag "check.png", :class => "media object img-responsive" %>
	          </a>
	          <div class="media-body">
	            <h4 class="media-heading">Coaching</h4>
	            How do you do it? 
	          </div>
	        </div>
	    	</div>
	    	<br>
	    	<div class="row">
	        <div class="col-md-6 float-right media">
	          <a class="pull-left" href="#">
	            <%= image_tag "check.png", :class => "media object img-responsive" %>
	          </a>
	          <div class="media-body">
	            <h4 class="media-heading">Support</h4>
	            How do you do it? Give money to ...
	          </div>
	        </div>
	      </div> -->
	    </div>

	  </div>
	</div>
</div>
