<div class="jumbotron img-responsive text-center ">

  <div class="brand-text">
  	<h1>About Slim Page</h1>
  </div>

  <h2>Placeholder Text</h2>

  

	<h2 class="brand-text">More Text Here</h2>


</div>	