<p></p>

<div class="container">
	<ol class="breadcrumb text-left">
	  <li><%= link_to "Home", root_path %></li>
	  <li><a href="#">About</a></li>
	  <li class="active">About Slim</li>
	</ol>
</div>

<div class="jumbotron">
  <div class="text-center brand-text">

  	<h2>About Slim</h2>

	</div>
</div>