<div class="jumbotron img-responsive text-center ">
	<ol class="breadcrumb text-left">
	  <li><%= link_to "Home", root_path %></li>
	  <li><a href="#">About</a></li>
	  <li class="active">About Slim</li>
	</ol>
  <div class="brand-text">
  	<h1>About Slim Page</h1>
  </div>

  <h2>Placeholder Text</h2>

  

	<h2 class="brand-text">More Text Here</h2>


</div>	