/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-united";


body {
	font-family: Georgia, Serif;
  /* background-color: rgba(176,227,176,1); green */
  background-color: rgba(204,204,204,.5); /* gray */
  font-size: 16px;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, Serif;
  font-weight: 100px;
}

img.brand {
	height: 90%;
	margin: auto;
  margin-top: 2%;
  left: 20%;
}

a.brand {
	color: #581c08;
	margin-right: 30px; 
  font-size: 2.0 vmax;
  font-weight: 900px;
}

.background-header {
  background: rgba(255,255,255,.7);
  border-radius: 15px;
}

.brand {
	margin: auto;
}

.brand-text {
	color: #DD4814;
	letter-spacing: 2px;
}

.breadcrumb {
  background: rgba(255,255,255,0);
  font-size: 2.0 vmax;
}


.container-fluid {
  margin: 0;
  padding: 0;
}

.default-text {
  color: #191919;
  margin: 10% 0%;
}

.default-textx {
  color: #191919;
  letter-spacing: 2px;
  margin-top: 4%;
}

.jumbotron { 
  background-size: 100% 100%;
  border-radius: 15px;
  padding: 5px;
  
}

.navbar {
  margin: 0;
}

.no-background {
  background: rgba(255,255,255,.7);
}

.row-fluid {
    word-wrap: break-word;
}

/*   ------------------ Default - screens over 767px wide */

.background {
  /* ... */
  width: 60%;
  height: 720px;
}

.carousel-caption {
  width: 60%; 
  height: 720px;
  margin: auto;
  background-size: cover;

}

img.image {
	/* ... */
  width: 190%;
  height: 720px;
  margin: auto;
}

.logo {
  /* ... */
  width: 25%;
  height: 260px;
  margin: 0% 0%;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 28px;
}


/*   ------------------ Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
  .background {
    /* ... */
    width: 400px;
    height: 290px;
  }

  .btn-lg, .btn-group-lg > .btn {
    padding: 6px 8px;
    margin: 2px;
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  .carousel-caption {
    width: 400px;
  }

  img.image {
    /* ... */
    width: 400px;
    height: 290px;
    margin: auto;
  }

  .logo {
    /* ... */
    width: auto;
    height: 50px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  h4 {
    font-size: 11px;
  }
}

/*   ------------------ Mobile portrait */
@media only screen and (max-width: 479px) {
  
  .background {
    /* ... */
    width: 370px;
    height: 535px;
  }

  .carousel-caption {
    width: 370px;
  }

  img.image {
    /* ... */
    width: 370px;
    height: 535px;
    margin: auto;
  }

  .logo {
    /* ... */
    width: auto;
    height: 120px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }
}

