/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */

  // import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2
  @import 'bootstrap-sprockets';
  @import 'bootstrap-datetimepicker';
  @import "bootstrap-united";



body {
	font-family: Georgia, Serif;
  /* background-color: rgba(176,227,176,1); green */
  background-color: rgba(204,204,204,.4); /* gray */
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, Serif;
  font-weight: 100px;
}

.background-header {
  background: rgba(255,255,255,.7);
  border-radius: 15px;
}

.base-text {
  color: #581c08;
  letter-spacing: 2px;
}

.brand {
	margin: auto;
}

.table-hover tr:hover td,.table-hover tr:hover {
  color:#DD4814;
  background-color: rgba(221,72,20,.3);
}

.brand-text {
	color: #581c08;
	letter-spacing: 2px;
  margin: 10px;
}

.brand-text-lt {
  color: #DD4814;
  letter-spacing: 2px;
}


.container-fluid {
  margin: 0;
  padding: 0;
}

.form-outline {
  background: rgba(255,255,255,.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: rgba(221,72,20,0);
  padding: 5%;
  padding-top: 1%;
}


.default-text {
  color: #191919;
  margin: 10% 0%;
}

.default-textx {
  color: #191919;
  letter-spacing: 2px;
  margin-top: 4%;
}

.field-group {
  display: inline-block;
}


.jumbotron { 
  background-size: 100% 100%;
  border-radius: 15px;
  padding: 5px;
}

.jumbotron-brand { 
  background-color: none;
  background-size: 100% 100%;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
  color: rgba(221,72,20,1);
}

.jumbo-table {
    padding: 0px;   
    margin: 0% 0%;
    color: inherit;
    background-color: #eeeeee;
}

.jumbotron-title { 
  background-size: 100% 100%;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 0px;
}

.navbar {
  margin: 0;
}

.no-background {
  background: none;
  border: none;
}

.row-fluid {
    word-wrap: break-word;
}

.thead-brand { 
  background-color: rgba(221,72,20,1);
  background-size: 100% 100%;

  color: rgba(255,255,255,1);
}

.title-text {
  color: #581c08;
  margin-bottom: 0;

}

.white-text {
  color: rbga(250,250,250,1);
  letter-spacing: 2px;
  margin: 10px;
}

/*   ------------------ Default - screens over 767px wide --------------------------*/

.background {
  /* ... */
  width: 60%;
  height: 710px;
}

.bottom {
  position: absolute; 
  bottom: 5%;
  left: 10%;
  right: 10%;
}

a.brand {
  color: #581c08;
  margin-right: 30px; 
  font-size: 18px;
  font-weight: 900px;
}

.breadcrumb {
  background: rgba(255,255,255,0);
  font-size: 10ox;
  padding: 0px 5px;
  margin: 0% 1%;
}

.carousel-caption {
  width: 60%; 
  height: 710px;
  margin: auto;
  background-size: cover;

}

img.brand {
  height: 95%;
  margin: auto;
  margin-top: 2%;
  left: 20%;
}

img.image {
	/* ... */
  width: 173%;
  height: 750px;
  margin: auto;
}

.logo {
  /* ... */
  width: 23%;
  height: 250px;
  margin: 0%;
  margin-top: 2%;
}

ul.nav {
  font-size: 18px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 28px;
}


#slide-title {
  font-size: 38px;
  padding: 3%;
  margin: auto;
}


/*   ------------------ Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
  .background {
    /* ... */
    width: 400px;
    height: 290px;
  }

  .btn-lg, .btn-group-lg > .btn {
    padding: 6px 8px;
    margin: 2px;
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  .carousel-caption {
    width: 400px;
  }

  img.image {
    /* ... */
    width: 400px;
    height: 290px;
    margin: auto;
  }

  .logo {
    /* ... */
    width: auto;
    height: 50px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  h4 {
    font-size: 11px;
  }
}

/*   ------------------ Mobile portrait */
@media only screen and (max-width: 479px) {
  
  .background {
    /* ... */
    width: 370px;
    height: 535px;
  }

  .carousel-caption {
    width: 370px;
  }

  img.image {
    /* ... */
    width: 370px;
    height: 535px;
    margin: auto;
  }

  .logo {
    /* ... */
    width: auto;
    height: 120px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  th:nth-of-type(2) {
  display: none;
  }

  td:nth-of-type(2) {
    display: none;
  }

  th:nth-of-type(5) {
    display: none;
  }

  td:nth-of-type(5) {
    display: none;
  }
}

