/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 *= require owl.carousel
 *= require owl.theme
 */

  // import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2
  @import 'bootstrap-sprockets';
  @import 'bootstrap-datetimepicker';
  @import "bootstrap-united";



body {
	font-family: Georgia, Serif;
  /* background-color: rgba(176,227,176,1); green */
  background-color: rgba(204,204,204,.4); /* gray */
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, Serif;
  font-weight: 100px;
}

.align-middle-yield {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
  }

.background-header {
  background: rgba(255,255,255,.7);
  border-radius: 15px;
}

.base-text {
  color: #581c08;
  letter-spacing: 2px;
}

.brand {
	margin: auto;
}

.table-hover tr:hover td,.table-hover tr:hover {
  color:#DD4814;
  background-color: rgba(221,72,20,.3);
}

.brand-text {
	color: #581c08;
	letter-spacing: 2px;
  margin: 10px;
}

.brand-text-only {
  color: #581c08;
  letter-spacing: 2px;
}

.brand-text-lt {
  color: #DD4814;
  letter-spacing: 2px;
}

.btn-brand {
  color: #fff;
  background-color: rgba(221,72,20,1);
  border-color: rgba(132,43,12,1);
}

.btn-brand:hover {
  color: #fff;
  background-color: rgba(132,43,12,1);
  border-color: rgba(221,72,20,1);
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.form-outline {
  background: rgba(255,255,255,.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: rgba(221,72,20,0);
  padding: 5%;
  padding-top: 1%;
}

.default-text {
  color: #191919;
  margin: 10% 0%;
}

.brand-text-two {
  color: #191919;
  letter-spacing: 2px;
}

.default-textx {
  color: #191919;
  letter-spacing: 2px;
  margin-top: 4%;
}

.field-group {
  display: inline-block;
}


.jumbotron { 
  background-size: 100% 100%;
  border-radius: 15px;
  padding: 5px;
}

.jumbotron-brand { 
  background-color: none;
  background-size: 100% 100%;
  border-radius: 5px;
  padding: 5px;
  margin: 1%;
  color: rgba(221,72,20,1);
}

.jumbo-table {
    padding: 0px;   
    margin: 0% 0%;
    color: inherit;
    background-color: #eeeeee;
}

.jumbotron-title { 
  background-size: 100% 100%;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 0px;
}

.navbar {
  margin: 0;
}

.no-background {
  background: none;
  border: none;
}

.row-fluid {
    word-wrap: break-word;
}

.thead-brand { 
  background-color: rgba(221,72,20,1);
  background-size: 100% 100%;

  color: rgba(255,255,255,1);
}

.title-text {
  color: #581c08;
  margin-bottom: 0;

}

.well {
  margin: 3%;
  display: inline-block;
  text-align: center;

}

.white-text {
  color: rbga(250,250,250,1);
  letter-spacing: 2px;
  margin: 10px;
}

.align-center-slim {
  width: 100%;
  left: 0;
  right: 0;
  margin: 0%;
}

/*   ------------------ DESKTOP - SCREENS OVER 767px WIDE --------------------------*/

a.brand {
  color: #581c08;
  margin-right: 30px; 
  font-size: 18px;
  font-weight: 900px;
}

.breadcrumb {
  background: rgba(255,255,255,0);
  font-size: 10ox;
  padding: 0px 5px;
  margin: 0% 1%;
}

.center-slim-pic {
    width: 95%;
    left: 0;
    right: 0;
    margin: 0% 5%;
    display: inline-block
  }

img.brand {
  height: 95%;
  margin: auto;
  margin-top: 2%;
  left: 20%;
}

ul.nav {
  font-size: 18px;
}

// ***** FONTS ***************************

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 22px;
}

// ***** CAROUSEL - HOME ******************

.background {
  /* ... */
  width: 60%;
  height: 710px;
}

.bottom {
  position: absolute; 
  bottom: 5%;
  left: 10%;
  right: 10%;
  width: 50%; 
  margin: 0 auto;
}

.carousel-caption {
  width: 60%; 
  height: 710px;
  margin: auto;
  background-size: cover;
}

.logo {
  /* ... */
  width: auto;
  height: 210px;
  margin-top: 28%;
  margin-bottom: 10%;
  margin-left: 0%;
}

img.image {
  /* ... */
  width: 180%;
  height: 710px;
  margin: auto;
}


.bottom-btn {
  position: absolute; 
  bottom: 3%;
  left: 10%;
  right: 10%;
  width: 50%; 
  margin: 0 auto;
}

.bottom-btn-two {
  position: absolute; 
  bottom: 3%;
  left: 10%;
  right: 10%;
  width: 50%; 
  margin: 0 auto;
}

.bottom-btn-four {
  position: absolute; 
  bottom: 3%;
  left: 10%;
  right: 10%;
  width: 50%; 
  margin: 0 auto;
}

.bottom-caption {
  position: absolute; 
  bottom: 73%;
  left: 10%;
  right: 10%;
  width: 80%; 
  margin: 0 auto;
}

.bottom-caption-two {
  position: absolute; 
  bottom: 73%;
  left: 10%;
  right: 10%;
  width: 80%; 
  margin: 0 auto;
}

.bottom-caption-four {
  position: absolute; 
  bottom: 73%;
  left: 10%;
  right: 10%;
  width: 80%; 
  margin: 0 auto;
}

.tagline {
  position: absolute; 
  bottom: 15%;
  left: 2%;
  right: 2%;
  width: 93%; 
  margin: 0 auto;
}

.tagline-two {
  position: absolute; 
  bottom: 15%;
  left: 10%;
  right: 10%;
  width: 80%; 
  margin: 0 auto;
}

.tagline-four {
  position: absolute; 
  bottom: 15%;
  left: 10%;
  right: 10%;
  width: 80%; 
  margin: 0 auto;
}




#slide-title {
  font-size: 38px;
  padding: 3%;
  margin: auto;
}

// ***** ABOUT SLIM ******************

.role-object {
  margin: 4%;
  padding: 5%;
  padding-bottom: 0;
  display: inline-block;
  color: white;
  border-color: none;
  border-radius: 20px;
  background: url(about.png);
}

.role-object-title {
  margin: 2% 0%;
  font-size: 28px;
}

.media-object { 
  width: 64px; 
  height: 64px; 
  padding-bottom: 30px;
}


/*   ------------------ MOBILE PORTRAIT -----------------   */

@media only screen and (max-width: 479px) {
  
  // ***** GENERAL *************************
  
  .align-middle {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0% 10%;
  }

  // ***** CAROUSEL - HOME ******************

  .background {
    /* ... */
    width: 100%;
    height: 560px;
    background-color: #232323;
  }

  .brand-text {
    color: #581c08;
    letter-spacing: 2px;
    margin: 0px;
  }

  .carousel-caption {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .carousel-indicators {
    bottom: 8%;
  }

  img.image {
    /* ... */
    width: 370px;
    height: 330px;
    margin: auto;
  }

  .logo {
    /* ... */
    width: auto;
    height: 110px;
    margin-top: 41%;
    margin-bottom: 5%;
    margin-left: 6%;
  }

  .bottom {
    position: absolute; 
    bottom: 5%;
    left: 10%;
    right: 10%;
    width: 50%; 
    margin: 0 auto;
  }

  .bottom-btn {
    position: absolute; 
    bottom: 19%;
    left: 10%;
    right: 10%;
    width: 50%; 
    margin: 0 auto;
  }

  .bottom-btn-two {
    position: absolute; 
    bottom: 20%;
    left: 10%;
    right: 10%;
    width: 50%; 
    margin: 0 auto;
  }

  .bottom-btn-four {
    position: absolute; 
    bottom: 20%;
    left: 10%;
    right: 10%;
    width: 50%; 
    margin: 0 auto;
  }

  .bottom-caption {
    position: absolute; 
    bottom: 45%;
    left: 10%;
    right: 10%;
    width: 80%; 
    margin: 0 auto;
  }

  .bottom-caption-two {
    position: absolute; 
    bottom: 45%;
    left: 10%;
    right: 10%;
    width: 80%; 
    margin: 0 auto;
  }

  .bottom-caption-four {
    position: absolute; 
    bottom: 45%;
    left: 10%;
    right: 10%;
    width: 80%; 
    margin: 0 auto;
  }

  .tagline {
    position: absolute; 
    bottom: 29%;
    left: 2%;
    right: 2%;
    width: 93%; 
    margin: 0 auto;
  }

  .tagline-two {
    position: absolute; 
    bottom: 31%;
    left: 10%;
    right: 10%;
    width: 80%; 
    margin: 0 auto;
  }

  .tagline-four {
    position: absolute; 
    bottom: 31%;
    left: 10%;
    right: 10%;
    width: 80%; 
    margin: 0 auto;
  }

  .slide-title {
    padding: 3%;
    margin: auto;
  }

  #slide-title {
    font-size: 20px;
    padding: 3%;
    margin: auto;
  }


  // ***** BUTTONS *************************

  .btn-lg, .btn-group-lg > .btn {
    padding: 9px 11px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  

  // ***** FONTS ***************************

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 14px;
  }

  p {
    font-size: 10px;
  }

  // ***** EVENTS - TABLE ***************************

  th:nth-of-type(2) {
  display: none;
  }

  td:nth-of-type(2) {
    display: none;
  }

  th:nth-of-type(5) {
    display: none;
  }

  td:nth-of-type(5) {
    display: none;
  }

  // ***** ABOUT SLIM ***************************

  .role-object-title {
    margin: 2% 0%;
    font-size: 24px;
  }

}




/*   ------------------ MOBILE LANDSCAPE -----------------   */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
  .background {
    /* ... */
    width: 400px;
    height: 290px;
  }

  .btn-lg, .btn-group-lg > .btn {
    padding: 6px 8px;
    margin: 2px;
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  .carousel-caption {
    width: 400px;
  }

  img.image {
    /* ... */
    width: 400px;
    height: 290px;
    margin: auto;
  }

  .logo {
    /* ... */
    width: auto;
    height: 50px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 12px;
  }

  h4 {
    font-size: 11px;
  }
}


/*   ------------------ ABOUT SLIM -----------------*/

#intro { 
  background: url(about.png) 50% 0 fixed; 
  height: auto;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding-bottom: 10px;
}

#home { 
  background: url(slim.jpg) 100% 100% fixed; 
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #232323;
  height: auto;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 200px 0;
}

#about { 
  background: url(about.png) 50% 0 fixed; 
  height: auto;
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  color: #fff;
}


.hero-unit {
  background-color: rgba(255,255,255,0);;
  color: rgba(255,255,255,1);
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}



